.story-viewer-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.story-viewer-container {
  position: relative;
  width: 100vw;
  max-width: 480px;
  height: 100vh;
  background-color: #000;
  border-radius: 0;
  overflow: hidden;
}

.story-image{
  width: 100%;
  height: 100%;
}

.story-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.story-left,
.story-right {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50%;
  height: 100%;
  cursor: pointer;
  z-index: 2;
  outline: none;
}

.story-left {
  left: 0;
}

.story-right {
  right: 0;
}

.story-left:focus,
.story-right:focus {
  outline: none;
}
